#navigation
{
	background-color:white;

}
#logo
{
    height:auto;
    width: 150px;
}
#menu{
    background-color:white;
	font-family: "Quicksand",Arial;
	font-size: medium; ;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 2.4px;
	
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#menu_items
{
	display:inline-block;
}
.menu{
    margin : 10px;
	padding: 25px 20px 20px 20px;
	border-top: 2px solid white;
	color:black;
	display: inline;
	float: right;
}
.menu:hover{
    border-top : 2px solid #ee5c35;
    color:#ee5c35;
	background-color:white;
	font-style: normal;
	text-decoration: none;
}

body 
{	
	min-height: 100%;	
	font-family: 'Quicksand' ; 
}
#home {
    
    background: url(../Images/home.jpeg) no-repeat center center fixed;
	color:black;
	display: table;
	
    height:100%;
    position:relative;
    width:100%;	
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#register_login
{
	color:white;
	background-color: #EC4318;
	border-radius: 5px;
	padding:10px;
}
#home_content
{
	display:table-cell;
	text-align: left;
	vertical-align: bottom;
}

#home_info
{
	font-weight: bold;
	color:black;
	padding-top:100%;
}
#info_menu
{
	margin-top: 10%;
    padding: 20px;
    border: 2px dotted red;
    border-radius: 20px;
    text-align: center;
}
.info_menu
{
	margin-left:5%;
	margin-right:5%;
}
#about_info
{
	color:white;
	text-align: center;
	font-weight: bold;
}
#about_bg{
    
    background: url(../Images/home1.jpg)  top center no-repeat;
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height:auto;
}
.about_content
{
	text-align: center;
	margin-top:5%;
}
#about_content
{
	background-color: #78961c;
	color:white;
	font-weight: bold;
	height: 80%;
}
#initiatives_info
{
	color:black;
	text-align: center;
	font-weight: bold;
}
#initiatives_bg{
    
    background: url(../Images/home2.jpg)  top center no-repeat;
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height:auto;
}
.initiatives_content
{
	text-align: center;
	margin-top:5%;
}
#initiatives_content
{
	background-color: #ec4418;
	font-weight: bold;
	color:white;
	height: 75%;
}
#help_info
{
	color:white;
	text-align: center;
}
#help_bg{
    
    background: url(../Images/home3.jpg)  top center no-repeat;
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height:auto;
}
.help_content
{
	text-align: center;

}
#help_content
{
	background-color: #313131;
	color:white;
	height: 60%;
}
#address
{
	text-align: right;
    padding-right: 50px;
	padding-top: 25%;
}
h4
{
	color:#ec4418;
}

