#navigation
{
	background-color:white;

}
#logo
{
    height:auto;
    width: 150px;
}
#menu{
    background-color:white;
	font-family: "Quicksand",Arial;
	font-size: medium; ;
	font-style: normal;
	font-variant: normal;
	font-weight: bolder;
	line-height: 2.4px;
	
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#menu_items
{
	display:inline-block;
}
.menu{
    margin : 10px;
	padding: 25px 20px 20px 20px;
	border-top: 2px solid white;
	color:black;
	display: inline;
	float: right;
}
.menu:hover{
    border-top : 2px solid #ee5c35;
    color:#ee5c35;
	background-color:white;
	font-weight: bolder;
	font-style: normal;
	text-decoration: none;
}

body 
{	
	min-height: 100%;	
	font-family: 'Quicksand' ; 

}
#home {
    
    background: url(../Images/home.jpeg) no-repeat center center fixed;
	color:black;
	display: table;
	
    height:100%;
    position:relative;
    width:100%;	
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#register_login
{
	color:white;
	background-color: #EC4318;
	border-radius: 5px;
	padding:10px;
}
#home_content
{
	display:table-cell;
	text-align: left;
	vertical-align: bottom;
	
}
ul#home_points
{
	font-weight: bolder;
	list-style-image: url(../Images/Icons/tick.png) ;
	
	letter-spacing: 0px;
	padding-top:105%;
	padding-bottom:45%;

}
#home_info
{
	font-weight: bolder;
	color:black;
	padding-top:110%;
	padding-bottom:40%;
}
#info_menu
{
    padding:10px;
    border: 2px dotted #EC4318;
    border-radius: 20px;
    text-align: center;
}
a.info_menu
{
	margin-left:4%;
	margin-right:4%;
	text-decoration: none;
	color: black;
	font-weight: bolder;
}
#about_info
{
	color:white;
	text-align: center;
	font-weight: bolder;
	font-size: x-large;
}
#about_bg{
    
    background: url(../Images/home1.jpg)  top center no-repeat;
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height:auto;
}
.about_content
{
	text-align: center;
	margin-top:5%;
	text-align: center;
	display: inline-block;
}
#about_content
{
	background-color: #78961c;
	color:white;
	font-weight: bolder;
	height: 80%;

}
#initiatives_info
{
	color:black;
	text-align: center;
	font-weight: bolder;
}
#initiatives_bg{
    
    background: url(../Images/home2.jpg)  top center no-repeat;
	
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height:auto;
}
.initiatives_content
{
	text-align: center;
	margin-top:5%;
}
#initiatives_content
{
	background-color: #ec4418;
	font-weight: bolder;
	color:white;
	height: 75%;
}
#help_info
{
	color:white;
	text-align: center;
}
#help_bg{
    
    background: url(../Images/home3.jpg)  top center no-repeat;
	 opacity: 0.7;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
	height:auto;
}
.help_content
{
	text-align: center;

}
#help_content
{
	background-color: #313131;
	color:white;
	height: 60%;
}
#address
{
	text-align: right;
    padding-right: 50px;
	//padding-top: 5%;
}
h4
{
	color:#ec4418;
}
.social_link
{
	padding:5px;
}
#about
{
	background-color: #EFEFEF;
	padding-top: 130px;
}
#about_contents
{
	margin: 10px;
	background-color: white;
}

#vision_menu
{
    padding-top:40px;
    text-align: center;
    margin: 20px;
}
a.vision_menu
{
	
	border-radius: 5px;
	margin-left:5%;
	margin-right:5%;
	padding:15px;
	border: 3px solid white;
	text-decoration: none;
	color: black;
	font-weight: bolder;
}
a.vision_menu:hover
{
	border: 3px solid #EC4318;
}
h2
{
	color: #EC4318;
	font-weight:bolder;
}
#vision
{
	font-weight: bolder;
	font-size: x-large;
	font-style: italic;
}
.divider
{
	margin-left: 10%;
	margin-right: 10%;
	border-top: 1px solid grey;
}
#vision_statement
{
	font-weight: bolder;
	font-size: large;
	text-align: left;
	padding-top: 10%;
}
#mission
{
	padding-top: 10%;
	padding-bottom: 10%;
	font-style: italic;
	font-size: large;
	font-weight: bolder;
	color: #EC4318;
}
p.vision_statement
{

}